.header{
    height: 5vh;
    width: 60vw;
    background: #a3bd13;
    display: flex;
    flex-direction: column;
    justify-self: start;
    }
a> span{
    margin-left: 4vw;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
    color: #e80c0c;
}

a>span:hover{
   color: hsl(64, 94%, 50%);
   font-size: 1.9vw;
}
